ion-title{
    color:white;
    background-color: #006fb8;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  ion-buttons{
    color:white;
    background-color: #006fb8;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
  }

#submitBtn{
    margin-left: 40%;
    text-align: center;
}