#list{
    text-align: center;
    margin: 0px auto;
}

ion-title{
    color:white;
    background-color: #006fb8;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  ion-buttons{
    color:white;
    background-color: #006fb8;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
  }